.dbg{
    border: 1px solid red;
    padding: 10px;
}

.nav{
    background-color: #2C3E50;
}

.hero{
    background-color: #1ABC9C;
}

.padded{
    padding-top: 30px;
    padding-bottom: 40px;
}

.about{
    background-color: #1ABC9C;
}

.text, form{
    padding-left: 40px;
}

.text2, form{
    padding-right: 40px;
}

.first_f{
    background-color: #3A546D;
}

.second_f{
    background-color: #2C3E50;
    text-align: center;
    color: white;
}