/* debug */
.dbg{
    border: 1px solid red;
    padding: 10px;
}

/* commons */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.padded{
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-fluid{
    width: 80%;
}

h1{
    text-align: center;
}


/*** header ***/
/* navbar */
.nav{
    background-color: #2C3E50;
}

.nav .container-fluid a{
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* jumbotron */
.hero{
    background-color: #1ABC9C;
}

.stuff{
    text-align: center;
    color: white;
}

.heroimg{
    width: 180px;
}

.herostuff h1{
    margin-top: 15px;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.line_w, .line_b{
    height: 3px;
    width: 100px;
    display: inline-block;
}

.line_w{
    background-color: white;
}

.fa-star{
    margin-left: 26px;
    margin-right: 26px;
}

/*** main ***/

/* portfolio */
.line_b{
    background-color: #2C3E50;
}

.about{
    background-color: #1ABC9C;
    color: white;
}

.text, form{
    padding-left: 40px;
}

.text2, form{
    padding-right: 40px;
}


/*** footer ***/
.first_f{
    background-color: #3A546D;
}

.second_f{
    background-color: #2C3E50;
    text-align: center;
    color: white;
}





