/* debug */
.dbg{
    border: 1px solid red;
    padding: 10px;
}

/* commons */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.padded{
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-fluid{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
}

.l_small{
    font-size: 12px;
}


/*** header ***/
/* navbar */
.nav{
    background-color: #2C3E50;
}

.nav .container-fluid a{
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* jumbotron */
.hero{
    background-color: #1ABC9C;
}

.stuff{
    text-align: center;
    color: white;
}

.heroimg{
    width: 180px;
}

.herostuff h1{
    margin-top: 15px;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.line_w, .line_b{
    height: 3px;
    width: 100px;
    display: inline-block;
}

.line_w{
    background-color: white;
}

.fa-star{
    margin-left: 26px;
    margin-right: 26px;
    font-size: 20px;
}

/*** main ***/

/* portfolio */
.line_b{
    background-color: #2C3E50;
}

.port_img{
    max-width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* about */
.about{
    background-color: #1ABC9C;
    color: white;
}

.download{
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;
}

.dl_btn{
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    background-color: transparent;
    color: white;
}

.download i{
    margin-right: 5px;
}

/* contact me */
.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;

}

.send{
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: white;
    background-color: #1ABC9C;
    padding: 5px 15px 5px 15px;
}


/*** footer ***/
/* main footer */
.first_f{
    background-color: #3A546D;
    color: white;
    text-align: center;
}

.first_f p{
    margin-bottom: 0px;
}

.social{
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 5px;
    background-color: transparent;
    color: white;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fa-google-plus-g{
    font-size: 13px;
}

#startb{
    text-decoration: none;
    color: #1ABC9C;
}

/* copyright footer */
.second_f{
    background-color: #2C3E50;
    text-align: center;
    color: white;
}





/*** media query ***/
@media screen and (max-width: 767px){  /* small */
    .navbar-nav{
        display: none;
    }

    .burger{
        color: white;
        border-radius: 5px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        padding: 10px;
    }

    .xs-margin{
        margin-top: 30px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){  /* medium */
    .text, form{
        padding-left: 40px;
    }
    
    .text2, form{
        padding-right: 40px;
    }

    .burger{
        display: none;
    }

    /*    ->bootstrap framework has it in column with no padding and it doesn't let me override it
    .navbar-nav{
        padding-right: 30px;
        padding-left: 30px;
        flex-direction: row;
    }
    
    .nav-link{
        padding-left: 5px;
        padding-right: 5px;
    }
    */

}

@media screen and (min-width:992px){ /* large */
    .text, form{
        padding-left: 40px;
    }
    
    .text2, form{
        padding-right: 40px;
    }

    .burger{
        display: none;
    }
}